<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0"/>
    <title>ECNUer新年快乐</title>
    <link rel="stylesheet" href="//res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css"/>
    <link rel="stylesheet" th:href="@{/css/message.viewer.css?v15}"/>
    <script type="text/javascript" th:src="@{/js/config.js?v=14}"></script>
    <script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script type="text/javascript" src="//res.wx.qq.com/open/libs/weuijs/1.1.3/weui.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/vue"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
    <script type="text/javascript"
            src="//res.wx.qq.com/mmbizwap/zh_CN/htmledition/js/vconsole/3.0.0/vconsole.min.js"></script>
</head>
<body style="background-color: #EA5B53;">

<div class="container lantern-bg" id="app">
    <div class="lantern-r">
        <div class="share" v-show="showShareHint">
            <img src="https://static.cloume.com/ncee/ecnuer2018/img/arrow.png" class="share-hint"/>
            <!--<img th:src="@{/img/arrow.png}" class="share-hint"/>-->
        </div>
        <transition name="fade">
            <div class="mask" v-if="showShareHint || showModal" v-on:click="hideHint"></div>
        </transition>
        <img v-on:click="modalShow" v-show="!showShareHint" class="doge rotate" src="https://static.cloume.com/ncee/ecnuer2018/img/doge.png">
        <!--<img v-on:click="modalShow" class="rotate" th:src="@{/img/doge.png}">-->
        <div class="modal" :class="{'modal-down':!showModal}">
            <img src="https://static.cloume.com/ncee/ecnuer2018/img/zjtlogo.png">
            <!--<img th:src="@{/img/zjtlogo.png}">-->
            <img src="https://static.cloume.com/ncee/ecnuer2018/img/barcode.jpg">
            <!--<img th:src="@{/img/barcode.jpg}">-->
            <div>
                <span>祝ECNU校友新年快乐</span><br>
                <span>长按识别二维码关注智教通微信公众号</span>
            </div>
            <div class="close" v-on:click="hideHint"></div>
        </div>

        <div class="grow visible-md">
            <div class="info">
                <div class="portrait" v-bind:style="{ backgroundImage: `url(${sender.portrait})` }"></div>
                <div v-html="message.author"></div>
            </div>

            <div class="message">
                <p class="counter">这是第 <span v-text="message.index"></span> 份校友祝福</p>
                <div class="content" v-text="message_content"></div>
            </div>

        </div>

        <div class="row userinfo visible-sm">
            <div class="portrait" v-bind:style="{ backgroundImage: `url(${sender.portrait})` }"></div>
            <div v-html="message.author"></div>
        </div>

        <div class="row message visible-sm">
            <p class="counter">这是第 <span v-text="message.index"></span> 份校友祝福</p>
            <div class="content" v-text="message_content"></div>
        </div>

        <div class="row operate" v-show="!is_preview">
            <button class="operate-btn">
                <!--<img th:src="@{/img/tosend2.png}" v-on:click="share" class="plane_bg">-->
                <img src="https://static.cloume.com/ncee/ecnuer2018/img/tosend2.png" v-on:click.prevent="share" class="plane_bg">
            </button>
        </div>
        <div class="row operate short" v-show="is_preview">
            <!--<img th:src="@{/img/share.png}" v-on:click="share" class="plane_bg">-->
            <img src="https://static.cloume.com/ncee/ecnuer2018/img/share.png" v-on:click.prevent="share" class="plane_bg">
        </div>
        <div class="row foot weui-footer">
            <p class="weui-footer__text">华师智教通新高考走班排课软件团队提供支持</p>
        </div>
    </div>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    const _MSG_ID = /*[[${_MSG_ID}]]*/ '';
    const _STATE = /*[[${_STATE}]]*/ '';
    /*]]>*/
</script>
<script type="text/javascript" th:src="@{/js/message.viewer.js?v15}"></script>
<script>
    /// var vConsole = new VConsole({});
</script>
</body>
</html>